@import "reset";

// Easing.
$easeout: cubic-bezier(0,.8,.21,1);
$easeinout: cubic-bezier(.48,.01,.21,1);
$easein: cubic-bezier(0.895, 0.010, 0.965, 0.390);
$easeinfast: cubic-bezier(0.400, 0.010, 0.605, 0.360);

$ms: 200ms;


* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#TinGrid {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    position: relative;
    display: flex;
}

li {
    display: flex;
    flex-direction: column;
    
    &:after {
        display: block;
        content: "";
        background-color: red;
        margin: 5px;
        flex-grow: 1;
    }
}