// Easing.
$easeout: cubic-bezier(0,.8,.21,1);
$easeinout: cubic-bezier(.48,.01,.21,1);
$easein: cubic-bezier(0.895, 0.010, 0.965, 0.390);
$easeinfast: cubic-bezier(0.400, 0.010, 0.605, 0.360);

html, body, div, img, ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-wrapper {
    flex: 0 1 600px;
}
.slider {
    position: relative;
}
.tin-slide-next-prev {
    position: relative;
    text-align: right;
}
.tin-slide-prev, .tin-slide-next {
    width: 40px;
    height: 40px;
    background-color: black;
}
.tin-slide-prev {
    position: absolute;
    left: 0;
    top: 0;
}
.tin-slide-next {
    display: inline-block;
}
.tin-slide-dots li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    margin-right: 5px;
}
.sub-slider {
    padding: 50px;
}
.sub-slider .tin-slide-next-prev {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}