@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto+Mono');

// Easing.
$easeout: cubic-bezier(0,.8,.21,1);
$easeinout: cubic-bezier(.48,.01,.21,1);
$easein: cubic-bezier(0.895, 0.010, 0.965, 0.390);
$easeinfast: cubic-bezier(0.400, 0.010, 0.605, 0.360);

html, body, div, img, ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    // font-family: sans-serif;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    padding-top: 20px;
    padding-bottom: 60px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0.6em;
    margin-bottom: 0.4em;
}
a {
    &, &:hover, &:active, &:visited {
        color: black;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
}
p {
    border-left: 4px solid #e0e0e0;
    padding-left: 10px;
    text-align: left
}
code {
    display: block;
    background-color: #f0f0f0;
    padding: 20px;
    white-space: nowrap;
    word-wrap: none;
    overflow-x: auto;
    font-family: 'Roboto Mono', monospace;
}
.wrapper {
    flex: 0 1 600px;
    max-width: 100%;

    & > .slider-wrapper {
        margin-top: 40px;
    }
}
.slider-wrapper {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);

    p {
        border-left: 0;
    }
}
.tin-slide-prev, .tin-slide-next {
    position: absolute;
    left: 10px;
    top: 50%;
    &:before, &:after {
        content: '';
        display: block;
        width: 0; 
        height: 0;
        position: absolute;
        top: 0;
        transform: translateY(-50%);
    }
}
.tin-slide-prev {
    &:before {
        left: 0;
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent; 
        border-right: 41px solid black;
        margin-left: -4px;
    }
    &:after {
        left: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent; 
        border-right: 35px solid white;
    }
}
.tin-slide-next {
    left: inherit;
    right: 10px;
    &:before {
        right: 0;
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent;
        border-left: 41px solid black;
        margin-right: -4px;
    }
    &:after {
        right: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 35px solid white;
    }
}
.tin-slide-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.tin-slide-dots li {
    box-sizing: border-box;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: black;
    border: 2px solid black;
    margin-right: 5px;
    &.on {
        background-color: white;
    }
}
.sub-slider {
    padding: 50px;
}
.sub-slider .tin-slide-next-prev {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}