@import url('https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto+Mono');

@import "reset";

// Easing.
$easeout: cubic-bezier(0,.8,.21,1);
$easeinout: cubic-bezier(.48,.01,.21,1);
$easein: cubic-bezier(0.895, 0.010, 0.965, 0.390);
$easeinfast: cubic-bezier(0.400, 0.010, 0.605, 0.360);

$color_blue: #02a5fa;
$color_blue_dark: #01689d;

* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    box-sizing: border-box;
    min-height: 100%;
    flex: 1 0 auto;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}
strong {
    font-weight: 600;
}
img {
    width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 1.8em;
    margin-bottom: 0.4em;
    font-weight: 600;

    & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
        margin-top: 0.6em;
    }
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px
}
h4 {
    font-size: 14px;
}
a {
    &, &:hover, &:active, &:visited {
        color: black;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }

    &.blue {
        &, &:hover, &:active, a:visited {
            color: $color_blue;
        }
    }
}
p {
    border-left: 4px solid $color_blue;
    padding-left: 10px;
    text-align: left;
    margin-bottom: 0.8em;
}
code {
    border: 4px solid #f0f0f0;
    display: block;
    background-color: #f0f0f0;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 2px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}
span.code {
    font-family: 'Roboto Mono', monospace;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #f0f0f0;
    color: $color_blue_dark;
}
.page {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    align-items: center;

    a {
        &, &:hover, &:active, &:visited {
            color: $color_blue;
            text-decoration: none;
        }
    }

    #nav-button {
        display: block;
        -webkit-appearance: none;
        width: 20px;
        height: 16px;
        background-color: transparent;
        border: 0;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding: 0;
        margin-right: 20px;
        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: white;
        }
        &:focus {
            outline: none;
        }
        @media screen and (min-width: 780px) {
            display: none;
        }
    }

    h1 {
        font-size: 24px;
        margin: 0 0 0 0;
        line-height: 1;

        span {
            padding-left: 5px;
            // font-family: 'Roboto Mono', monospace;
            letter-spacing: 3;
            font-size: 20px;
            font-weight: 400;
            color: $color_blue_dark;
        }
    }
}
header + nav {
    transform: translate3d(-100%, 0, 0);
    position: fixed;
    z-index: 10;
    top: 40px;
    left: 0;
    width: 200px;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 20px 20px 60px 20px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    a {
        display: block;
        padding: 5px 20px;
        margin: 0 -20px;
        background-color: transparent;
        &, &:hover, &:active, &:visited {
            color: white;
            text-decoration: none;
        }

        &:hover {
            background-color: black;
        }
    }

    transition: transform 300ms $easeinout;
    &.on {
        transform: translate3d(0, 0, 0);
    }
    @media screen and (min-width: 780px) {
        transform: translate3d(0, 0, 0);
    }
}
.main {
    width: 100%;
    overflow-x: hidden;
    padding: 40px 15px 60px 15px;
    @media screen and (min-width: 780px) {
        padding-top: 77px;
        padding-left: 40px;
        padding-right: 40px;
    }
    @media screen and (min-width: 780px) {
        padding-left: 240px;
    }
}
.wrapper {
    max-width: 100%;
    @media screen and (min-width: 880px) {
        max-width: 600px;
    }

    margin-left: auto;
    margin-right: auto;

    &.center {
        text-align: center;
    }

    .slider-column {
        margin-top: 40px;
        margin-left: -15px;
        margin-right: -15px;
        @media screen and (min-width: 780px) {
            margin-left: -40px;
            margin-right: -40px
        }
        @media screen and (min-width: 880px) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @media screen and (min-width: 1500px) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: none;
        .info {
            max-width: 600px;
            margin-right: 40px;
        }
        .slider-column {
            flex: 0 1 1000px;
            max-width: 1000px;
        }
        &.wrap {
            flex-wrap: wrap;
            .info {
                flex: 1 0 400px;
                margin-left: 40px;
                margin-bottom: 20px;
                padding: 40px;
            }
        }
    }
}
.logo-browserstack {
    max-width: 200px;
}
.slider-wrapper {
    position: relative;

    &.bg {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &.border {
        border: 4px solid #c0c0c0;
    }

    p {
        border-left: 0;
        padding-left: 0;
    }
}
.tin-slide-prev, .tin-slide-next {
    position: absolute;
    left: 10px;
    top: 50%;
    &:before, &:after {
        content: '';
        display: block;
        width: 0; 
        height: 0;
        position: absolute;
        top: 0;
        transform: translateY(-50%);
    }
    &:before {
        opacity: 0.1;
        transition: opacity 200ms $easeinout;
    }
    &:hover {
        &:before {
            opacity: 0
        }
    }
}
.tin-slide-prev {
    &:before {
        left: 0;
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent; 
        border-right: 41px solid black;
        margin-left: -4px;
    }
    &:after {
        left: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent; 
        border-right: 35px solid rgba(255, 255, 255, 0.4);
        transition: border-right-color 200ms $easeinout;
    }
    &:hover {
        &:after {
            border-right-color: rgba(255, 255, 255, 1);
        }
    }
}
.tin-slide-next {
    left: inherit;
    right: 10px;
    &:before {
        right: 0;
        border-top: 23px solid transparent;
        border-bottom: 23px solid transparent;
        border-left: 41px solid black;
        margin-right: -4px;
    }
    &:after {
        right: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 35px solid rgba(255, 255, 255, 0.4);
        transition: border-left-color 200ms $easeinout;
    }
    &:hover {
        &:after {
            border-left-color: rgba(255, 255, 255, 1);
        }
    }
}
.tin-slide-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.tin-slide-dots li {
    box-sizing: border-box;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid white;
    margin-right: 5px;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: background-color 200ms $easeinout;
    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
    &.on {
        background-color: white;
    }
}
#info-slider {
    background-color: $color_blue;
    // border: 2px solid $color_blue_dark;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(1, 104, 157, 0.5);
    text-align: center;
    & > div {
        padding-left: 50px;
        padding-right: 50px;
    }
    h1 {
        margin: 0;
        line-height: 1.1;
        &.smiley {
            font-size: 50px;
        }
    }
}

.arrow_box {
	position: relative;
	background: #ffffff;
	border: 4px solid #f50000;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}